[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ingreedypy = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
pytest = "==4.6.5"

[requires]
python_version = "2.7"
