[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
flask = "==1.1.1"
gunicorn = "==20.0.4"
pint = "==0.9"
requests = "==2.22.0"

[dev-packages]
flake8 = "*"
mock = "*"
pytest = "*"
responses = "*"

[packages.ingreedypy]
git = "https://github.com/openculinary/ingreedy-py.git"
editable = true
ref = "support-multipart-quantities"
