[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.1"
ingreedypy = { git = "https://github.com/openculinary/ingreedy-py.git", ref = "5135f7a" }
gunicorn = "==19.9.0"
pint = "==0.9"

[dev-packages]
flake8 = "*"
pytest = "==4.6.5"
mock = "*"

[requires]
python_version = "2.7"
